.main_section div p{
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 600;
}
.main_section div img{
    width: 100%;
}
.main_section div .main_p{
    color: #8D8D8D;
    font-size: 14px;
    padding: 0 15px;
    text-align: left;
    text-align:center;
    line-height: 30px;
}