header {
    background-color: #1C6DC0;
    text-align: center;
    color: white;
    line-height: 44px;
    font-size: 18px;
    /* 固定定位法 - 以 上 右 下 左 为基准点进行定位 - 脱离文档流 */
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%; */
    /* 粘性定位  - 不脱离*/
    position: sticky;
    top: 0;
}

.second_section img {
    /* padding-top: 44px; */
    width: 100%;
}

footer {
    display: table;
    width: 100%;
    text-align: center;
    background-color: black;
    height: 66px;
    position: sticky;
    bottom: 0;
}

footer a {
    display: table-cell;
    vertical-align: middle;
    color: white;
    text-decoration: none;
}